body{
    font-family: Arial, Helvetica, sans-serif;

}
.subheading-2{
    font-family: Arial, Helvetica, sans-serif;
    border: 5px;
    color: gray;

}
.post-review{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}